{% extends "base.html" %}

{% block title %}English for Beginners - Greetings{% endblock %}

{% block content %}
<h2>English for Beginners - Greetings</h2>

<iframe width="100%" height="400" src="https://www.youtube.com/embed/UnEmEbWytI8" frameborder="0" allowfullscreen></iframe>

<h3>Grammaire : Le verbe "to be" et les salutations</h3>
<p>
Le verbe <strong>"to be"</strong> (être) est l'un des plus importants en anglais. Voici comment il se conjugue au présent :
</p>
<ul>
    <li><strong>I am</strong> -> Je suis</li>
    <li><strong>You are</strong> -> Tu es / Vous êtes</li>
    <li><strong>He/She/It is</strong> -> Il/Elle/On est</li>
    <li><strong>We are</strong> -> Nous sommes</li>
    <li><strong>They are</strong> -> Ils/Elles sont</li>
</ul>
<p>Dans une salutation, on utilise souvent ce verbe :</p>
<blockquote>
    Hi, I <strong>am</strong> Sarah.<br>
    Hello, my name <strong>is</strong> James.<br>
    We <strong>are</strong> happy to meet you!
</blockquote>

<h4>Expressions de salutation courantes</h4>
<ul>
    <li><strong>Hello / Hi</strong> - pour dire bonjour à tout moment</li>
    <li><strong>Good morning</strong> - avant midi</li>
    <li><strong>Good afternoon</strong> - après-midi</li>
    <li><strong>Good evening</strong> - en soirée</li>
    <li><strong>Good night</strong> - pour dire au revoir la nuit (pas une salutation d'arrivée)</li>
</ul>

<hr>

<h3>Quiz interactif</h3>
<ol>
    <li>Complétez : "I ___ happy."<br>
        A. is    B. am    C. are
    </li>
    <li>Quelle est la bonne salutation à 20h ?<br>
        A. Good morning    B. Good night    C. Good evening
    </li>
    <li>Complétez : "They ___ friends."<br>
        A. is    B. are    C. am
    </li>
</ol>

<hr>

<h3>Exercice</h3>
<p>Traduisez en anglais :</p>
<ul>
    <li>Je suis Paul.</li>
    <li>Nous sommes heureux.</li>
    <li>Bonsoir ! Comment t'appelles-tu ?</li>
</ul>

<hr>

<div class="solutions">
    <h3>Solutions</h3>

    <h4>Quiz :</h4>
    <ol>
        <li><strong>Réponse : B</strong> - "I <u>am</u> happy."</li>
        <li><strong>Réponse : C</strong> - "Good evening" est la salutation du soir.</li>
        <li><strong>Réponse : B</strong> - "They <u>are</u> friends."</li>
    </ol>

    <h4>Exercice :</h4>
    <ul>
        <li>I am Paul.</li>
        <li>We are happy.</li>
        <li>Good evening! What’s your name?</li>
    </ul>
</div>
{% endblock %}