{% extends "base.html" %}

{% block title %}À Propos - LinguaSphere{% endblock %}

{% block content %}
    <h2>À Propos de LinguaSphere</h2>
    <p>LinguaSphere est une plateforme innovante conçue pour rendre l_apprentissage de l_anglais accessible, engageant et personnalisé.</p>
    <p>Notre mission est de vous fournir les outils et les ressources nécessaires pour maîtriser la langue anglaise, que ce soit pour vos voyages, votre carrière ou votre développement personnel.</p>
    <p>Ce site est actuellement en version 1, développé avec passion pour vous aider à atteindre vos objectifs linguistiques. N_hésitez pas à nous faire part de vos retours !</p>
{% endblock %}

